language: objective-c

before_install:
    # - brew update
    #- if brew outdated | grep -qx xctool; then brew upgrade xctool; fi
    # install 
    - rvm use 2.2.5 --install --binary --fuzzy
    - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
    - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
    - pod --version
    - pod setup --silent > /dev/null
    - pod repo update --silent
    - xcpretty --version
    - xcodebuild -version
    - xcodebuild -showsdks
script:
    # 32-bit tests
    # - xctool -sdk iphonesimulator clean test -destination "name=iPhone 5" -find-target "JWTTests"
    # 64-bit tests
    # - xctool -sdk iphonesimulator clean test -destination "name=iPhone 5s" -find-target "JWTTests"

    # Thanks CocoaLumberjack!

    - set -o pipefail
    
    # Check pod.
    - echo Install pods for framework.
    - pod install --project-directory=Framework

    - echo Check if the library described by the podspec can be built
    - pod lib lint
    
    # Build.
    - echo "Build iOS Static library"
    - xcodebuild clean build -workspace Framework/JWT.xcworkspace -scheme 'JWT_iOS_Static' -sdk iphonesimulator PLATFORM_NAME=iphonesimulator -configuration Release | xcpretty -c
  
    - echo "Build as dynamic framework (ObjectiveC), each platform (osx, ios)"
    - xcodebuild clean build -workspace Framework/JWT.xcworkspace -scheme 'JWT_macOS_Framework' -configuration Release -sdk macosx | xcpretty -c
    - xcodebuild clean build -workspace Framework/JWT.xcworkspace -scheme 'JWT_iOS_Framework' -configuration Release -sdk iphonesimulator | xcpretty -c
    
    - echo "Build as dynamic framework (Swift), each platform (osx, ios)"
    - xcodebuild clean build -workspace Framework/JWT.xcworkspace -scheme 'JWT_macOS_Swift' -configuration Release -sdk macosx | xcpretty -c
    - xcodebuild clean build -workspace Framework/JWT.xcworkspace -scheme 'JWT_iOS_Swift' -configuration Release -sdk iphonesimulator | xcpretty -c

    # Tests.
    - echo Run tests
    - pod install --project-directory=Tests
    # 32-bit tests
    - echo Run iOS Tests
    - xcodebuild test -workspace 'Tests/JWT Tests.xcworkspace/' -scheme 'iOS_Tests' -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 5,OS=latest' | xcpretty -c
    # 64-bit tests
    - xcodebuild test -workspace 'Tests/JWT Tests.xcworkspace/' -scheme 'iOS_Tests' -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 5s,OS=latest' | xcpretty -c
    # mac OS tests
    # UNCOMMENT WHEN READY!
    # - echo Run Mac OS Tests
    # - xcodebuild test -workspace 'Tests/JWT Tests.xcworkspace/' -scheme 'macOS_Tests' -sdk macosx | xcpretty -c